---
// Component Imports
import Layout from '../components/Layout.astro';
import Identity from '../components/MyIdentity.svelte';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

let mainImgUrl = '/assets/+.svg';

//const netlifyIdentity = require('netlify-identity-widget');

---
<Layout title="IC képzés 2022" desctiption="A 2022. május 27-én megrendezett, Az interstitialis cystitis/hólyagfájdalom szindróma (IC/BPS) aktuális kérdései című, SE-TK/2022.I./00328 számú OFTEX tanfolyam anyagai.">
  <p slot="description">
    Az alábbi linken regisztráció után elérheti a 2022. május 27-én megrendezett,
    <i>Az interstitialis cystitis/hólyagfájdalom szindróma (IC/BPS) aktuális kérdései</i> 
    című, SE-TK/2022.I./00328 számú OFTEX tanfolyam anyagait.
  </p>
  <Identity slot="header" client:only="svelte" bind={true}}/>
</Layout>
