---
// Component Imports
import Layout from '../components/Layout.astro';
import Identity from '../components/MyIdentity.svelte';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

let mainImgUrl = '/assets/+.svg';

//const netlifyIdentity = require('netlify-identity-widget');

---
<Layout title="IC képzés" desctiption="Az interstitialis cystitis/hólyagfájdalom szindróma (IC/BPS) aktuális kérdései című, SE-TK/2022.I./00328 számú OFTEX tanfolyam anyagai, ">
  <p slot="description" class="text-xl">
    Regisztrációt követően elérheti Dr. Lovász Sándor Ph.D. IC/BPS témakörben eddig megrendezésre került képzéseinek anyagait:
  </p>
  <ul slot="header" class="prose mx-auto list-disc">
    <li>A 2022. május 27-én megrendezett, Az interstitialis cystitis/hólyagfájdalom szindróma (IC/BPS) aktuális kérdései című, SE-TK/2022.I./00328 számú OFTEX tanfolyam anyagait.</li>
    <li>A 2022. szeptember 29-én megrendezett diagnosztikára vonatkozó online továbbképzés anyagait.</li>
    <li>A 2023. február 9-én megrendezett terápiás lehetőségekre vonatkozó online továbbképzés anyagait.</li>
  </ul>
  <Identity slot="header" client:only="svelte" bind={true}}/>
</Layout>
