---
// https://hbsurologia-my.sharepoint.com/personal/lukacs_vertes_urosystem_com/_layouts/15/onedrive.aspx?isAscending=false&id=https%3A%2F%2Fhbsurologia%2Esharepoint%2Ecom%2Fsites%2FUrosystem%5Fexternal&view=2

import Identity from '../components/MyIdentity.svelte';
import Layout from '../components/Layout.astro';

const url = new URL(Astro.request.url);
const user = url.searchParams.get('email');
---
<Identity client:only="svelte" bind={false} redirect="/"/>
<Layout title="IC képzés – Letölthető anyagok">

  <article slot="content" class="card shadow-xl image-full mx-4">
    <div class="card-body">
      <h3 class="card-title">Az interstitialis cystitis/hólyagfájdalom szindróma (IC/BPS) aktuális kérdései című, SE-TK/2022.I./00328 számú OFTEX tanfolyam anyagai</h3>
      <h4 class="card-title">2022. május 27.</h4>

      <ul class="menu gap-0">
        <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/Edh6ZpOGcj9NuJD5ymXBttkBD2n6ydtRm2tWXuHTZs5CbA?e=27JoIk">Bevezető</a></li>
        <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/EX1VNrJKnHRMmDHqpm5q7MEB-Dfp87ZZlVIadc9QHvWXFQ?e=AxTErN">Epidemiológia, patofiziológia (röviden)</a></li>
        <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/EZdE84UKTqhHsoRAKZDh-8QBnnVYIcgLNUWgV5Z6TbhgRw?e=TyMgFD">Az IC/BPS jelen helyzete Magyarországon</a></li>
        <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/EVoFA7vwxyxFvQCBS4eAeWYBcyH6Mer8RmNlXDwCY_HS1Q?e=fe1S3r">Az IC/BPS korszerű diagnosztikája​</a></li>

        <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/EfC1RHTuEANCj21g4ZleY5EB1e-on2wT1HRloQDFCNqWhw?e=NeKTWS">Az IC/BPS és az infekciók​</a></li>
        <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/EajlwTEalHRDp5ZfLDGq2LMBQXE317mE6Xt6HLv1Pl3mRw?e=wMS2VG">Az IC/BPS férfiaknál</a></li>

        <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/EbfiIooR62dFnZACiebmGYYBDXC4d4wK7OjdqE-hUyLnWQ?e=wwCi6K">Az IC/BPS terápiája, általános elvek</a></li>
        <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/EW3hoctvv-pLpuLUyFipOzwBqudun9PQ65LzxVbQI5MkGQ?e=ZrzInl">A diéta jelentősége az IC/BPS kezelésében</a></li>
        <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/EZSUBC09kdhLqq0AM5E0DSUB-lusFnd4ZFTnuayWQ5Dxog?e=Anzw0s">Az IC/BPS szisztémás, gyógyszeres kezelése</a></li>
        <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/ETJetq8eNZVHmoWz2woFrAYBnuWKVnNIo2PMvUbL6BT2Rw?e=QxQp5U">A lokális intravesicalis instillációs kezelés módszere és eszközei</a></li>
        <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/EfAE6r6KH9pGnAa3NjqQQ3QBK6lWf5_zvcrnQRXTJ44OQA?e=G3F1mp">A folyamatos beteg utókövetés jelentősége és új módszere</a></li>
        <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/Ed_5Q9TH6nVKgjqB39YJEj4B2W8uM9QbiLJ9az-GOc7fEw?e=4pdtrV">Új fejlesztések, új terápiás lehetőségek, tervezett klinikai vizsgálatok (összefoglalás)</a></li>
      </ul>

      <!--<aside tabindex="0" class="collapse collapse-arrow border rounded-box  text-center">
        <input type="checkbox" />
        <summary class="collapse-title text-xl font-medium">Solutio GAG stratum restitutor</summary>
        <div class="collapse-content">
          <dl class="text-left w-fit mx-auto pb-8">
            <dt>Rp./</dt>
            <dd>Lidocaini chlorati</dd>
            <dd>centigrammata triginta (g 0,30)</dd>
            <dd>Dexa Ratiopharm</dd>
            <dd>Numero duo (No. II.)</dd>
            <dd>Heparibene Na</dd>
            <dd>Numero quartam ampulae</dd>
            <dd>Natrii hidroxydati</dd>
            <dd>Natrii chlorati</dd>
            <dd>quantum satis</dd>
            <dd>Aquae ad iniectabiliae</dd>
            <dd>ad grammata tricenti et viginti quinque (g 325,00)</dd>
            <dd>Misce fiat lege artis solutio intravesical sterilizata.</dd>
            <dd>Detur ad duo clysterem.</dd>
            <dt>S.: hetente 1x adapterrel hólyagkezelésre Ialurillal kombinálva cum adapter</dt>
          </dl>
          <a class="btn btn-primary w-fit mx-auto" href="mailto:?subject=Solutio%20GAG%20stratum%20restitutor&body=Rp.%2F%0ALidocaini%20chlorati%0Acentigrammata%20triginta%20(g%200%2C30)%0ADexa%20Ratiopharm%0ANumero%20duo%20(No.%20II.)%0AHeparibene%20Na%0ANumero%20quartam%20ampulae%0ANatrii%20hidroxydati%0ANatrii%20chlorati%0Aquantum%20satis%0AAquae%20ad%20iniectabiliae%0Aad%20grammata%20tricenti%20et%20viginti%20quinque%20(g%20325%2C00)%0AMisce%20fiat%20lege%20artis%20solutio%20intravesical%20sterilizata.%0ADetur%20ad%20duo%20clysterem.%0A%0AS.%3A%20hetente%201x%20adapterrel%20h%C3%B3lyagkezel%C3%A9sre%20Ialurillal%20kombin%C3%A1lva%20cum%20adapter%0A%0Ahttps%3A%2F%2Fwww.urosystem.com" target="_blank">Elküldöm email-ben</a>
        </div>
      </aside>-->
    </div>
  </article>

  <article slot="content" class="card shadow-xl image-full mx-4">
    <div class="card-body">
      <h3 class="card-title">IC diagnosztikára vonatkozó online továbbképzés</h3>
      <h4 class="card-title">2022. szeptember 29.</h4>

      <ul class="menu gap-0">
        <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:v:/s/UroSystem_UroDapter_Documents/EbP_-Txm_jpKvB_ygleNGVoBspf1YDeByR8tLRGsFtnszA?e=dhJaaB">Video: Online IC továbbképzés 2022.09.29.</a></li>
      </ul>
    </div>
  </article>

  <article slot="content" class="card shadow-xl image-full mx-4">
    <div class="card-body">
      <h3 class="card-title">Terápiás lehetőségekre vonatkozó online továbbképzés</h3>
      <h4 class="card-title">2023. február 9.</h4>

      <ul class="menu gap-0">
        <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:v:/s/UroSystem_UroDapter_Documents/EeqQaHJONh1All5HxUoRnS4BfeXqXrpXXmjnWCTJcqwOfA?e=wTvxfa">Video: Online IC továbbképzés 2023.02.09.</a></li>
      </ul>
    </div>
  </article>


<!--<aside class="flex justify-center my-10">-->
  <a slot="footer" href="/" tabindex="0" class="btn btn-ghost my-3">◀︎ Vissza</a>
<!--</aside>-->

</Layout>

<style>
article {
  @apply my-8 w-full
}
input, textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /*letter-spacing: .04em;*/
  -webkit-hyphens:auto;-ms-hyphens:auto;hyphens: auto;
  text-shadow: 0 0 0.75em var(--dark-blue);
}
dd {
  @apply pl-8;
}
</style>