---
import Identity from '../components/Identity.svelte';
import Layout from '../components/Layout.astro';

const url = new URL(Astro.request.url);
const user = url.searchParams.get('email');
---
<Layout title="IC képzés 2022 – Letölthető anyagok">
    <Identity client:only="svelte" bind={false} redirect="/"/>

    <div class="card w-auto shadow-xl image--full mx-4 bg-base-100">
      <main class="card-body gap-8" name="B2B Order Form" method="POST" action="/thankyou">
        <ul class="menu bg-base-100 w-56">
          <li><a>File 1</a></li>
          <li><a>File 2</a></li>
          <li><a>File 3</a></li>
        </ul>
      </main>
    </div>
    <aside class="flex justify-center my-10">
      <a href="/" tabindex="0" class="btn btn-ghost">◀︎ Back</a>
    </aside>

</Layout>

<style>
input, textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /*letter-spacing: .04em;*/
  -webkit-hyphens:auto;-ms-hyphens:auto;hyphens: auto;
  text-shadow: 0 0 0.75em var(--dark-blue);
}
</style>