---
import Identity from '../components/Identity.svelte';
import Layout from '../components/Layout.astro';

const url = new URL(Astro.request.url);
const user = url.searchParams.get('email');
---
<Layout title="IC képzés 2022 – Letölthető anyagok">
    <Identity client:only="svelte" bind={false} redirect="/"/>

    <div class="card w-auto shadow-xl image--full mx-4 bg-base-100">
      <main class="card-body gap-8" name="B2B Order Form" method="POST" action="/thankyou">
        <ul class="menu bg-base-100 max-w-128">
          <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/Edh6ZpOGcj9NuJD5ymXBttkBD2n6ydtRm2tWXuHTZs5CbA?e=27JoIk">Bevezető</a></li>
          <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/EZSUBC09kdhLqq0AM5E0DSUB-lusFnd4ZFTnuayWQ5Dxog?e=Anzw0s">Az IC/BPS szisztémás, gyógyszeres kezelése</a></li>
          <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/EX1VNrJKnHRMmDHqpm5q7MEB-Dfp87ZZlVIadc9QHvWXFQ?e=AxTErN">Epidemiológia, patofiziológia (röviden)</a></li>
          <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/EdtHya5bGidFrJgTCEc4xi8BqxN_weOhZYcoXQWcK0yNBg?e=P51cek">Az IC/BPS terápiája, általános elvek</a></li>
          <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/EasH2tdOi4ZGqCCjn5goKoYB7uyfwFJhGWWwnIpIdRU6Xg?e=MqUnGR">Az IC/BPS jelen helyzete Magyarországon</a></li>
          <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/EW3hoctvv-pLpuLUyFipOzwBqudun9PQ65LzxVbQI5MkGQ?e=ZrzInl">A diéta jelentősége az IC/BPS kezelésében</a></li>
          <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/EfAE6r6KH9pGnAa3NjqQQ3QBK6lWf5_zvcrnQRXTJ44OQA?e=G3F1mp">A folyamatos beteg utókövetés jelentősége és új módszere</a></li>
          <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/EVoFA7vwxyxFvQCBS4eAeWYBcyH6Mer8RmNlXDwCY_HS1Q?e=fe1S3r">Az IC-BPS korszerű diagnosztikája​</a></li>
          <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/ETJetq8eNZVHmoWz2woFrAYBnuWKVnNIo2PMvUbL6BT2Rw?e=QxQp5U">A lokális intravesicalis instillációs kezelés módszere és eszközei</a></li>
          <li><a rel="external noopener" target="_blank" href="https://hbsurologia.sharepoint.com/:p:/s/Urosystem_external/EaOFKDqPkNdEgyPcmeWFA4ABCebt-ViQjRMpZ4AleGANTA?e=eaxY5R">Új fejlesztések, új terápiás lehetőségek, tervezett klinikai vizsgálatok​</a></li>
        </ul>
      </main>
    </div>
    <aside class="flex justify-center my-10">
      <a href="/" tabindex="0" class="btn btn-ghost">◀︎ Vissza</a>
    </aside>

</Layout>

<style>
input, textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /*letter-spacing: .04em;*/
  -webkit-hyphens:auto;-ms-hyphens:auto;hyphens: auto;
  text-shadow: 0 0 0.75em var(--dark-blue);
}
</style>